.footer {
  padding-bottom: 120px;

  &__inner {
    justify-content: space-between;
  }

  &__left {
    flex-direction: column;
  }

  &__text {
    margin: 22px 0;
    max-width: 300px;
    width: 100%;
    line-height: 32px
  }

  &__copyright {
    margin-top: auto;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.5;
  }

  &__menu {

    &:first-child {
      margin-right: 212px;
    }
  }

  &__menu-title {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 32px;
    color: $accent;
  }

  &__list {
    list-style: none;
    font-weight: 500;
    line-height: 32px;
  }

  &__item {
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px $accent;
    }
  }
}