html {
	box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body {
	font-family: $fontFamily;
	font-size: 18px;
  line-height: 1.2em;
  font-weight: 700;
	color: $text;
	background-color: $bg;
}

a {
  text-decoration: none;
  outline: transparent;
  cursor: pointer;
}

svg {
  fill: inherit;
  stroke: inherit;
}

//Дежурные классы////////////////////
.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 15px;

  &--wide {
    max-width: 1760px;
  }
}

.d-flex {
  display: flex;
}

.indent-0 {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(330deg, rgba(11, 29, 38, 0) 31%, #0B1D26 109%);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 104%);
    z-index: -1;
  }
}

//Повторяющиеся элементы на сайте////////////////////////////////////

.logo {
  display: block;
}

.heading {
  position: relative;
  margin-bottom: 25px;
  padding-left: 104px;
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $accent;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: $accent;
  }
}

.title {
  margin: 25px 0;
  font-family: 'Chronicle-Display', sans-serif ;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
}

.btn {
  color: inherit;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $accent;
  }

  &:focus {
    color: $accent;
    text-shadow: -2px -2px 5px $accent;
  }

  &:active {
    text-shadow: 2px 2px 5px $accent;
  }
}