.article {
  margin-bottom: 200px;

  &:nth-child(even) {
    .article__inner {
      flex-direction: row-reverse;
    }
  }

  &__inner {
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    position: relative;
    max-width: 44.2%;
    width: 100%;
    margin-left: 150px;
  }

  &__num {
    position: absolute;
    top: -80px;
    left: -150px;
    font-weight: 700;
    font-size: 240px;
    line-height: 186px;
    opacity: 0.1;
  }

  &__annotation {
    line-height: 1.8em;
  }

  &__link {
    color: $accent;
    transition: color 0.3s;

    &:hover {
      color: $darken-accent;

      .article__link-svg {
        fill: $darken-accent;
        animation: moveRight 1s linear infinite alternate;
      }
    }
  
    &:focus {
      color: $darken-accent;
      text-shadow: -2px -2px 5px $darken-accent;

      .article__link-svg {
        fill: $darken-accent;
      }
    }
  
    &:active {
      text-shadow: 2px 2px 5px $darken-accent;
    }
  }

  &__link-svg {
    position: relative;
    top: 3px;
    fill: $accent;
    margin-left: 16px;
    transition: fill 0.5s;
  }

  &__img {
    max-width: 565px;
    width: 100%;
    height: 720px;
    object-fit: cover;
  }
}

@keyframes moveRight { 
  from {transform: translateX(0px);}
  to {transform: translateX(10px);}
}