.article {
  margin-bottom: 200px;

  @include tablet-down {
    margin-bottom: 100px;
  }

  &:nth-child(even) {
    .article__inner {
      flex-direction: row-reverse;

      @include tablet-down {
        flex-direction: column;
      }
    }

    .article__content {
      margin-right: 0;
    }
  }

  &__inner {
    justify-content: space-between;
    align-items: center;

    @include tablet-down {
      flex-direction: column;
    }
  }

  &__content {
    position: relative;
    max-width: 44.2%;
    width: 100%;
    margin-left: 150px;
    margin-right: 25px;

    @include desctop-down {
      margin-left: 35px;
    }

    @include tablet-down {
      max-width: calc(100% - 25px);
      margin-left: 25px;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__num {
    position: absolute;
    top: -80px;
    left: -150px;
    font-weight: 700;
    font-size: 240px;
    line-height: 186px;
    opacity: 0.1;

    @include desctop-down {
      left: -50px;
      font-size: 130px;
      line-height: 1.3em;
    }

    @include tablet-down {
      top: -66px;
      left: -25px;
      font-size: 100px;
    }
  }

  &__annotation {
    line-height: 1.8em;
  }

  &__link {
    color: $accent;
    transition: color 0.3s;

    &:hover {
      color: $darken-accent;

      .article__link-svg {
        fill: $darken-accent;
        animation: moveRight 1s linear infinite alternate;
      }
    }
  
    &:focus {
      color: $darken-accent;
      text-shadow: -2px -2px 5px $darken-accent;

      .article__link-svg {
        fill: $darken-accent;
      }
    }
  
    &:active {
      text-shadow: 2px 2px 5px $darken-accent;
    }
  }

  &__link-svg {
    position: relative;
    top: 3px;
    fill: $accent;
    margin-left: 16px;
    transition: fill 0.5s;
  }

  &__img {
    --width: 565px;

    max-width: var(--width);
    width: 100%;
    height: calc(var(--width) * 1.275);
    object-fit: cover;

    @include desctop-down {
      --width: 450px;
    }

    @include tablet-down {
      --width: 400px;
    }

    @include tablet-down {
      --width: 350px;
    }
  }
}

@keyframes moveRight { 
  from {transform: translateX(0px);}
  to {transform: translateX(10px);}
}