.hero {
  margin-top: 150px;

  @include tablet-down {
    margin-top: 50px;
  }

  &__inner {
    justify-content: space-between;
    align-items: center;

    @include phone-down {
      flex-direction: column;
    }
  }

  &__socials {

    @include phone-down {
      display: none;
    }

    &--mobile {
      display: none;

      @include phone-down {
        display: block;
        margin-bottom: 25px;
        color: $accent;
      }
    }
  }

  &__socials-text {
    writing-mode: vertical-lr;

    @include phone-down {
      writing-mode: lr-tb;
    }
  }

  &__socials-link {
    display: block;
    margin-top: 13px;
    outline: transparent;

    @include phone-down {
      display: inline-block;
      margin-top: 0;
      margin-left: 15px;
    }

    &:hover {
      .hero__socials-svg {
        fill: $accent;
      }
    }

    &:focus {
      .hero__socials-svg {
        transform: scale(1.2);
      }
    }

    &:active {
      .hero__socials-svg {
        transform: scale(0.8);
      }
    }

  }

  &__socials-svg {
    fill: $text;
    transition: fill 0.5s;

    @include phone-down {
      fill: $accent;
    }
  }

  &__center {
    max-width: 59%;
    width: 100%;

    @include phone-down {
      max-width: 100%;
      text-align: center;
    }
  }

  &__title {
    margin: 30px 0;
    font-size: 88px;
    line-height: 1.14em;
    text-transform: capitalize;

    @include phone-down {
      margin: 20px 0;
    }
  }

  &__scroll {
    padding: 0;

    &:hover {
      .hero__scroll-svg {
        fill: $accent;
        animation: moveDown 1s linear infinite alternate;
      }
    }

    &:focus {
      .hero__scroll-svg {
        fill: $accent;
      }
    }
  }

  &__scroll-svg {
    position: relative;
    top: 6px;
    margin-left: 16px;
    fill: $text;
    transition: fill 0.5s;
  }

  &__right {

    @include tablet-down {
      display: none;
    }
  }
}

@keyframes moveDown { 
  from {transform: translateY(0px);}
  to {transform: translateY(10px);}
}
