.hero {
  margin-top: 150px;

  &__inner {
    justify-content: space-between;
    align-items: center;
  }

  &__socials-text {
    writing-mode: vertical-lr;
  }

  &__socials-link {
    display: block;
    margin-top: 13px;
    outline: transparent;

    &:hover {
      .hero__socials-svg {
        fill: $accent;
      }
    }

    &:focus {
      .hero__socials-svg {
        transform: scale(1.2);
      }
    }

    &:active {
      .hero__socials-svg {
        transform: scale(0.8);
      }
    }

  }

  &__socials-svg {
    fill: $text;
    transition: fill 0.5s;
  }

  &__center {
    max-width: 59%;
    width: 100%;
  }

  &__title {
    margin: 30px 0;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
  }

  &__scroll {
    padding: 0;

    &:hover {
      .hero__scroll-svg {
        fill: $accent;
        animation: moveDown 1s linear infinite alternate;
      }
    }

    &:focus {
      .hero__scroll-svg {
        fill: $accent;
      }
    }
  }

  &__scroll-svg {
    position: relative;
    top: 6px;
    margin-left: 16px;
    fill: $text;
    transition: fill 0.5s;
  }
}

@keyframes moveDown { 
  from {transform: translateY(0px);}
  to {transform: translateY(10px);}
}
