.navbar {
  position: fixed;
  right: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;

  @include tablet-down {
    position: relative;
  }

  @include phone-down {
    display: none;
  }

  &.navbar-bg {
    background-color: rgba(0, 0, 0, 0.40);
    transform: scale(0.8);
  }

  &__list {
    list-style: none;
  }

  &__num {
    position: relative;
    display: block;
    padding: 19.4px 30px 19.4px 10px;
    padding-right: 30px;
    text-align: right;
    color: inherit;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 3px;
      height: 60px;
      background-color: $text;
      opacity: 0.5;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.60);

      &::after {
        opacity: 0.8;
      }
    }
  }
}